doctype html
html(lang="cz")
  head
    meta(name='keywords', content='Vladivostop, Vladivostok ')
    meta(name='author', content='Kateřina Mandulová')
    meta(name='description', content='Cesta na Sibiř a ještě dál...')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='/css/book2.css')
    link(type='text/css', rel='stylesheet', href='/css/bookpage.css')
    link(rel='icon', type="image/png", href='images/favicon.ico')
    title Vladivostop
    style.
      @import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,500italic,400italic,500&subset=latin,latin-ext);
      /* CSS Document */
      * {
      font-family: Roboto Verdana, Geneva, sans-serif;
      }
      /*setting up initial fonts*/
    body
      // Start Body 
      #videopg
        video#video(width='100%', height='100%')
          source(src='/img/bookpage/video/stoparka_1_0.mp4', type='video/mp4')
          source(src='/img/bookpage/video/stoparka_1_0.webm', type='video/webm')
      // video
      .navbar.navbar-default.navbar-static-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              |           
              span.icon-bar
              |           
              span.icon-bar
              |           
              span.icon-bar
            |         
            a.navbar-brand(href='index.html?v=old') Menu
          |       
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='index.html?v=old')
                  | Home 
                  span.glyphicon.glyphicon-home
              |           
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Kniha 
                  span.glyphicon.glyphicon-book
                |             
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Obsah 
                      span.glyphicon.glyphicon-list
                  |               
                  li
                    a(href='#')
                      | Uk&aacute;zka 
                      span.glyphicon.glyphicon-bookmark
                  |               
                  li
                    a(href='mapa.html')
                      | Mapa 
                      span.glyphicon.glyphicon-map-marker
                  |               
                  li.divider
                  |               
                  li
                    a(href='partneri.html')
                      | Partne&rcaron;i 
                      span.glyphicon.glyphicon-certificate
                  |               
                  li
                    a(href='#')
                      | Koupit 
                      span.glyphicon.glyphicon-shopping-cart
              |           
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Profil 
                  span.glyphicon.glyphicon-user
                |             
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Autorka 
                      span.glyphicon.glyphicon-question-sign
                  |               
                  li
                    a(href='#')
                      | Rozhovor 
                      span.glyphicon.glyphicon-bullhorn
                  |               
                  li
                    a(href='#')
                      | &Ccaron;l&aacute;nky 
                      span.glyphicon.glyphicon-align-justify
              |           
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Galerie 
                  span.glyphicon.glyphicon-picture
                |             
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Fotky 
                      span.glyphicon.glyphicon-camera
                  |               
                  li
                    a(href='#')
                      | Plak&aacute;ty 
                      span.glyphicon.glyphicon-file
              |           
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Prom&iacute;t&aacute;n&iacute; 
                  span.glyphicon.glyphicon-calendar
                |             
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Historie 
                      span.glyphicon.glyphicon-header
                  |               
                  li
                    a(href='#')
                      | P&rcaron;&iacute;&scaron;t&iacute; 
                      span.glyphicon.glyphicon-paperclip
              |           
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Kontakt 
                  span.glyphicon.glyphicon-earphone
                |             
                ul.dropdown-menu
                  li
                    a(href='#')
                      | E-mail 
                      span.glyphicon.glyphicon-envelope
                  |               
                  li
                    a(href='#')
                      | Koupit knihu 
                      span.glyphicon.glyphicon-shopping-cart
                  |               
                  li
                    a(href='#')
                      | Jin&eacute; 
                      span.glyphicon.glyphicon-globe
                  |               
                  li.divider
                  |               
                  li
                    a(href='#') Fun club 
          // /.nav-collapse
      |   
      .title
        .container
          h1
            span VLADIVO
            | STOP
          |       
          h2 Kate&rcaron;ina Mandulov&aacute;
      |   
      #small_social.container.visible-sm.visible-xs
        .row
          #fb_small.col-xs-3.small_social_box
            a(href='https://www.facebook.com/katerina.mandulova')
              img(src='/img/bookpage/FB-f-Logo__white_29.png')
              |           
              span Facebook
          |       
          #tw_small.col-xs-3.small_social_box
            a(hraf='#')
              img(src='/img/bookpage/Twitter_logo_white.png')
              |           
              span Twitter
          |       
          #gp_small.col-xs-3.small_social_box
            a(hraf='#')
              img(src='/img/bookpage/btn_red.png')
              |           
              span Google+
          |       
          #kp_small.col-xs-3.small_social_box
            a(hraf='#')
              img(src='/img/bookpage/cart.png')
              |           
              span Koupit
      |   
      #social.hidden-xs.hidden-sm
        #fb.social_box
          a(href='https://www.facebook.com/katerina.mandulova')
            span Facebook
            |         
            img(src='/img/bookpage/FB-f-Logo__white_29.png')
        |     
        #tw.social_box
          a(href='#')
            span Twitter
            |         
            img(src='/img/bookpage/Twitter_logo_white.png')
        |     
        #gp.social_box
          a(href='#')
            span Google+
            |         
            img(src='/img/bookpage/btn_red.png')
        |     
        #kp.social_box
          a(href='#')
            span Koupit
            |         
            img(src='/img/bookpage/cart.png')
      |   
      #content
        .container
          p.lead Z&aacute;pisky z cest na D&aacute;ln&yacute; v&yacute;chod
          |       
          .row
            p.col-md-4.text
              strong Kate&rcaron;ina Mandulov&aacute;
              | : pr&aacute;vni&ccaron;ka a nez&aacute;visl&aacute; cestovatelka. Na cest&aacute;ch ztr&aacute;vila v&iacute;ce ne&zcaron; t&rcaron;i roky &zcaron;ivota. Stopem procestovala Sibi&rcaron; a D&aacute;ln&yacute; v&yacute;chod, americk&yacute; divok&yacute; z&aacute;pad, jihoamerick&eacute; Altiplano i pou&scaron;&tcaron; Atakama, tibetskou n&aacute;horn&iacute; plo&scaron;inu,
              |           p&aacute;kist&aacute;nsk&yacute; Karakoram, kaza&scaron;skou step i gruzinsko-tureck&eacute; pohrani&ccaron;&iacute;. &Ccaron;asto k&rcaron;i&zcaron;uje Evropu, proto i V&aacute;s si n&ecaron;kdy m&uring;&zcaron;e stopnout na evopsk&yacute;ch d&aacute;lnic&iacute;ch.
            |         
            p.col-md-4.text
              | Kate&rcaron;ina vypr&aacute;v&iacute; o j&iacute;zd&ecaron; autostopem z T&rcaron;eb&iacute;&ccaron;e do Vladivostoku. Na cestu se vypravila v l&eacute;t&ecaron; roku 2009. Cestovala na vlastn&iacute; p&ecaron;st s batohem na z&aacute;dech. Potkala zaj&iacute;mav&eacute; lidi, prozkoumala rusk&aacute; velkom&ecaron;sta i sibi&rcaron;skou divo&ccaron;inu a poznala Rusko jin&eacute;,
              | ne&zcaron; jak&eacute; zn&aacute;me z ve&ccaron;ern&iacute;ch zpr&aacute;v.
            |         
            .col-md-4.kniha(href='#')
              figure.book
                // Front
                ul.hardcover_front
                  li
                    img(width='100%', height="100%" src='/img/bookpage/23_prebal_01.jpg')
                  |               
                  li
                // Pages
                ul.page
                  li
                  |               
                  li
                  |               
                  li
                  |               
                  li
                  |               
                  li
                // Back
                ul.hardcover_back
                  li
                  |               
                  li
                |             
                ul.book_spine
                  li
                  |               
                  li
      // end content
      .footer
        .container
          .row
      

      
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
      script(type='text/javascript', src='/js/kniha.js')
