@background-image-src-blur-color: #1e4f9b;

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);






@keyframes bounce {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(1.044, 0, 0, 0, 0, 1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.057, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.061, 0, 0, 0, 0, 1.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.058, 0, 0, 0, 0, 1.058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(1.049, 0, 0, 0, 0, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

.container-fluid {
  //padding-right: 0;
  //padding-left: 0;
  @media(max-width: 775px) {
    .container {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  h2 {
    text-align: center;
    font-size: 38px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {

  }
  p, ul {
    font-size: 18px;
  }
  #gallery-carousel {
    .item {
      overflow: hidden;
      .img-description {
        position: absolute;
        bottom: 0;
        margin-bottom: -10%;
        width: 100%;
        padding-left: 15px;
        background: rgba(0,0,0,0.15);
        opacity: 1;
        color: #fff;
        transition: all 0.2s ease-out;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.2s ease-out;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
        .img-description {
          margin-bottom: 0;
          background: rgba(0,0,0,0.35);
        }
      }
    }
    .loading {
      .img-description {
        opacity: 0;
      }
    }
  }
  .coming-up {
    p.blank {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 35px;
      color: #bbb;
    }
  }
  form#contact-form {
    perspective: 300;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    .field-wrap {
      display: inline-block;
      position: relative;
      height: 50px;
      width: 50%;
      padding: 0;
      margin: 5px 0;
      line-height: 0;
      font-size: 0;
      cursor: pointer;
      transition: all 0.2s ease-out;
      transform: rotateX(0deg);
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }
    .field-desc {
      font-size: 10px;
      text-transform: uppercase;
    }
    .field-value {
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 50px;
      line-height: 25px;
      padding-top: 0;
      transform: rotateX(0deg);
      backface-visibility: hidden;
      padding: 10px;
      background: @background-image-src-blur-color;
      color: #fff;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      font-weight: bold;
    }
    input {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0 10px;
      font-size: 16px;
      line-height: 1em;
      margin: 0;
      outline: none;
      transform: rotateX(180deg);
      backface-visibility: hidden;
    }
    input:focus {
      background: #5c84eb;
      color: #fff;
    }
    .flip {
      transform: rotateX(-180deg);
    }
    textarea {
      width: 100%;
      font-size: 15px;
      margin: 5px 0;
      padding: 10px;
      outline: none;
      border: none;
      background: @background-image-src-blur-color;
      color: #fff;
      transition: all 0.3s ease-out;
      font-weight: bold;
    }
    textarea:focus {
      background: #5c84eb;
    }
    button {
      border: 1px solid #eee;
      border-radius: 3px;
      padding: 5px;
      background: @background-image-src-blur-color;
    }
  }
  #Kniha {
    // 3D book
    @import "book.less";

    background: rgba(30, 115, 155, 0.62);
    padding-top: 50px;
    padding-bottom: 50px;

    .clickme-book {
      transform: rotate(-6deg);
      span {
        font-size: 33px;
        font-weight: bold;
        font-family: 'Gloria Hallelujah', cursive;
        color: white;

      }
      img {
        margin-top: 20px;
        float: right;
        height: 220px;
      }
      @media(max-width:991px) {
        display: none;
      }
    }
  }
  #O-mne {
    box-shadow: inset 0 -7px 20px -7px rgba(0, 0, 0, 0.5);
    img {
      margin-bottom: 20px;
    }
  }
  #Galerie {
      box-shadow: inset 0 7px 20px -7px rgba(0, 0, 0, 0.5)
  }
  #Clanky {
    overflow-x: hidden;
    transition: all .4s ease;
    &.opened{
      background: rgba(30, 179, 236, 0.5);
      box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.4);
    }

    .article-belt {
      position: relative;
      width: 200%;
      .thumb-wrap, .article-wrap{
        width: 50%;
        float: left;
        padding-bottom: 50px;
      }
      transition: all .4s ease;
      &.slide {
        transform: translate3d(-50%,0,0);
      }
    }


    .article {
      background: rgb(102, 176, 211);
      color: white;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      &:hover {
        animation: bounce 1000ms linear both;
      }
      img {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .article-open {
      width: 100%;
      img {
        max-width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
      .article-loader {
        margin-top: 50px;
        display: inline-block;
      }
      &.loading {
        text-align: center;
      }
    }
  }
}

#travelcv{
  ul{
    li{
      margin-bottom: .5em;
    }
  }
}
