@background-image-src-blur-color: #1e4f9b;

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.container-fluid {
  //padding-right: 0;
  //padding-left: 0;
  @media(max-width: 775px) {
    .container {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  h2 {
    text-align: center;
    font-size: 38px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {

  }
  p, ul {
    font-size: 18px;
  }

  section {
    padding-bottom: 25px;
    padding-top: 20px;
  }
}

@import "container/aboutme.less";
@import "container/book.less";
@import "container/gallery.less";
@import "container/akce.less";
@import "container/articles.less";
@import "container/blog.less";
@import "container/contact.less";
