@background-image-src-blur-color: #1e4f9b;

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

@keyframes bounce {
  0% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { transform: matrix3d(0.878, 0.082, 0, 0, 0.082, 0.878, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.903, 0.096, 0, 0, 0.096, 0.903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.41% { transform: matrix3d(0.943, 0.109, 0, 0, 0.109, 0.943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(0.976, 0.106, 0, 0, 0.106, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.71% { transform: matrix3d(1.01, 0.075, 0, 0, 0.075, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(1.01, 0.073, 0, 0, 0.073, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { transform: matrix3d(1.019, 0.036, 0, 0, 0.036, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(1.018, 0.025, 0, 0, 0.025, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { transform: matrix3d(1.004, -0.005, 0, 0, -0.005, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.43% { transform: matrix3d(1.001, -0.005, 0, 0, -0.005, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { transform: matrix3d(0.999, -0.003, 0, 0, -0.003, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}


.container-fluid {
  //padding-right: 0;
  //padding-left: 0;
  @media(max-width: 775px) {
    .container {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  h2 {
    text-align: center;
  }
  p, ul {
    font-size: 18px;
  }
  #gallery-carousel {
    .item {
      overflow: hidden;
      .img-description {
        position: absolute;
        bottom: 0;
        margin-bottom: -10%;
        width: 100%;
        padding-left: 15px;
        background: rgba(0,0,0,0.15);
        opacity: 1;
        color: #fff;
        transition: all 0.2s ease-out;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.2s ease-out;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
        .img-description {
          margin-bottom: 0;
          background: rgba(0,0,0,0.35);
        }
      }
    }
    .loading {
      .img-description {
        opacity: 0;
      }
    }
  }
  .coming-up {
    p.blank {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 35px;
      color: #bbb;
    }
  }
  form#contact-form {
    perspective: 300;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    .field-wrap {
      display: inline-block;
      position: relative;
      height: 50px;
      width: 50%;
      padding: 0;
      margin: 5px 0;
      line-height: 0;
      font-size: 0;
      cursor: pointer;
      transition: all 0.2s ease-out;
      transform: rotateX(0deg);
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }
    .field-desc {
      font-size: 10px;
      text-transform: uppercase;
    }
    .field-value {
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 50px;
      line-height: 25px;
      padding-top: 0;
      transform: rotateX(0deg);
      backface-visibility: hidden;
      padding: 10px;
      background: @background-image-src-blur-color;
      color: #fff;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      font-weight: bold;
    }
    input {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0 10px;
      font-size: 16px;
      line-height: 1em;
      margin: 0;
      outline: none;
      transform: rotateX(180deg);
      backface-visibility: hidden;
    }
    input:focus {
      background: #5c84eb;
      color: #fff;
    }
    .flip {
      transform: rotateX(-180deg);
    }
    textarea {
      width: 100%;
      font-size: 15px;
      margin: 5px 0;
      padding: 10px;
      outline: none;
      border: none;
      background: @background-image-src-blur-color;
      color: #fff;
      transition: all 0.3s ease-out;
      font-weight: bold;
    }
    textarea:focus {
      background: #5c84eb;
    }
    button {
      border: 1px solid #eee;
      border-radius: 3px;
      padding: 5px;
      background: @background-image-src-blur-color;
    }
  }
  #Kniha {
    // 3D book
    @import "book.less";

    background: rgba(30, 115, 155, 0.62);
    padding-top: 50px;
    padding-bottom: 50px;

    .clickme-book {
      transform: rotate(-6deg);
      span {
        font-size: 33px;
        font-weight: bold;
        font-family: 'Gloria Hallelujah', cursive;
        color: white;

      }
      img {
        margin-top: 20px;
        float: right;
        height: 220px;
      }
      @media(max-width:991px) {
        display: none;
      }
    }
  }
  #O-me {
    box-shadow: inset 0 -7px 20px -7px rgba(0, 0, 0, 0.5);
    img {
      margin-bottom: 20px;
    }
  }
  #Galerie {
      box-shadow: inset 0 7px 20px -7px rgba(0, 0, 0, 0.5)
  }
  #Clanky {
    .article {
      background: rgb(102, 176, 211);
      color: white;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
      &:hover {
        animation: bounce 1000ms linear both;
      }
    }
  }
}

#travelcv{
  ul{
    li{
      margin-bottom: .5em;
    }
  }
}
