// Main Css file
@import "header.less";
@import "container.less";
@import "footer.less";
//- Overrides
@portrait-pulse-border: 6px;
@header-font-color: white;
@affix-transition: 0.4s;
@link-transition: 0.2s;
@background-image-src: url("/img/panorama.jpg");
@background-image-src-blur: url("/img/panorama_blur.jpg");
@background-image-src-blur-color: #1e4f9b;
