@portrait-pulse-border: 6px;
@header-font-color: white;
@affix-transition: 0.3s;
@background-image-src: url("/img/mountains.jpg");

.dropDownMenu() {
  position: absolute;
  z-index: 50;
  top: 58px;
  right: 0;
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 0.1s;
  ul {
    background: rgba(0,0,0,0.9);
    float: right;
    width: 100%;
    max-width: 100%;
    li {
      display: block;
      &:hover {
        background: rgba(255, 255, 255, 0.37);
      }
      &:active {
        background: rgba(255, 255, 255, 0.6);
      }
    }

  }
  &.showNav {
    opacity: 1;
  }

}
header {
  position: absolute;
  top: 0;
  transition: height @affix-transition/2;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.55);
  width: 100%;
  .background {
    position: absolute;
    overflow: hidden;
    transition: height @affix-transition/2;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 300px;
    div {
      width: 100%;
      // Must stay 300px all time to assure correct bg position FIXME: creates ghost image when scrolling
      height: 300px;
      background-image: @background-image-src;
      background-repeat: no-repeat;
      background-size: 110%;
      background-position: 40% 40%;
      transition: filter @affix-transition, height @affix-transition;
      filter: blur(0);
    }

  }
  .content {
    position: relative;
    transition: padding @affix-transition;
    z-index: 21;
    nav {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        li {
          display: inline;
          text-decoration: none;
          padding: 10px;
          a {
            font-size: 1.2em;
            color: @header-font-color;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.55);
            font-weight: bold;
            display: inline-block;
            padding: 5px 20px;
            transition: color 0.3s, text-shadow 0.3s;
            text-decoration: underline;
            &:hover {
              color: @header-font-color;
              text-shadow: 0 0 10px rgba(255, 255, 255, 0.55);
              text-decoration: underline;
            }
          }
        }

      }
      // For phone devices use the drop down version
      @media(max-width: 768px) {
        .dropDownMenu();
      }

    }
    button.nav-toggle {
      position: absolute;
      z-index: 60;
      top: 5px;
      right: 5px;
      padding: 10px;
      border-radius: 4px;
      border: none;
      background: rgba(0, 0, 0, 0.5);
      transition: background 0.1s, padding @affix-transition, top @affix-transition;
      color: @header-font-color;
      display: none;

      @media(max-width: 768px) {
        display: block;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.7);

      }
      &:active {
        background: rgba(0, 0, 0, 0.85);
      }

    }
    h1 {
      transition: margin @affix-transition;
      color: @header-font-color;
      font-weight: bold;
      margin: 0 0 50px;

      span {
        background: rgba(255,255,255, .2);
        padding: 5px;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);

        border: 10px solid rgba(255,255,255, .7);
      }

    }
    p {
      @media(max-width: 570px) {
        font-size: 1em;

      }
      color: @header-font-color;
      font-weight: bold;
      font-size: 1.5em;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);
    }
    div.portrait {
      position: absolute;
      transition: margin @affix-transition, top @affix-transition, left @affix-transition;
      img {
        position: absolute;
        z-index: 51;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.55);
        border-radius: 100%;
        transition: width @affix-transition, height @affix-transition;
        &:hover + div {
          opacity: 0;
          transform: scale(1.5);
          filter: blur(5px);
        }

      }
      div {
        position: absolute;
        z-index: 50;
        border-radius: 100%;
        border: @portrait-pulse-border solid rgba(0, 0, 0, 0.40);
        transform: scale(1);
        opacity: 1;
        filter: blur(1px);
        transition: opacity 0.2s, transform 0.2s, filter 0.2s, width @affix-transition, height @affix-transition;
      }
    }

  }
  &.affix-top {
    height: 300px;
    @media(max-width: 276px) {
      &,
      .background {
        height: 250px;
      }

    }
    @media(max-width: 440px) {
      &,
      .background {
        height: 250px;
      }

    }
    .background {
      div {
        @media(max-width: 480px) {
          background-size: auto 110%;
        }
      }

    }
    .content {
      text-align: center;

      nav {
        position: absolute;
        top: 0;
        width: 100%;

      }
      button.nav-toggle {
        // Button is over the dropdown
        &.dropped {
          background: rgba(255,255,255,.2);

        }
        &.dropped:hover {
          background: rgba(255,255,255,.7);
        }

      }
      h1 {
        font-size: 4em;
        padding-top: 60px;
        @media(max-width: 570px) {
          font-size: 3em;
          margin-bottom: 40px;
          span {
            border: 7.5px solid rgba(255,255,255, .7);
          }

        }
        @media(max-width: 440px) {
          font-size: 2em;

          span {
            border: 5px solid rgba(255,255,255, .7);
          }

        }
        @media(max-width: 300px) {
          margin-bottom: 20px;
          span {
            border: none;
            box-shadow: none;
            background: none;
          }
        }

      }
      div.portrait {

        left: 50%;
        margin-left: -80px;
        img,
        div {
          width: 180px;
          height: 180px;

        }
        @media(max-width: 769px) {
          margin-left: -75px;
          img,
          div {
            width: 150px;
            height: 150px;
          }

        }
        @media(max-width: 570px) {
          margin-left: -70px;
          img,
          div {
            width: 140px;
            height: 140px;
          }

        }
        @media(max-width: 440px) {
          margin-left: -60px;
          img,
          div {
            width: 120px;
            height: 120px;
          }

        }
        @media(max-width: 300px) {
          margin-left: -50px;
          img,
          div {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

  }
  &.affix {
    text-align: left;
    background-image: @background-image-src;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 40% 33%;
    height: 78px;
    .background {
      height: 78px;
      div {
        // Makes ghost effect
        //filter: blur(3px);
        @media(max-width: 427px) {
          background-size: auto 110%;
        }
      }

    }
    .content {
      nav {
        @media(min-width: 768px) {
          // FIXME: On large screens in scroll mode we have to say bye to the transition :( Else ghost!
          display: none;
          &.showNav {
            display: block;
            .dropDownMenu();
          }

        }
        @media(max-width: 768px) {
          display: block;
        }

      }
      button.nav-toggle {
        display: block;
        top: 0;
        padding: 15px;

      }
      h1 {

        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 2.5em;
        span {
          border-width: 5px;
        }
        @media(max-width: 427px) {
          font-size: 2em;
        }
        @media(max-width: 355px) {
          font-size: 1.5em;
          span {
            line-height: 40px;
          }

        }
        @media(max-width: 290px) {
          font-size: 1em;
          span {
            border-width: 2px;
          }
        }

      }
      p {
        display: none;
      }
      div.portrait {
        position: inline-box;
        img,
        div {
          display: none;
          width: 0;
          height: 0;
        }
      }
    }

  }
  &.affix + .headspacer {
    margin-bottom: 220px;
  }

}
.headspacer {
  transition: margin @affix-transition;
  margin-bottom: 350px;
  @media(max-width: 570px) {
    margin-bottom: 320px;

  }
  @media(max-width: 440px) {
    margin-bottom: 280px;
  }

}
footer {
  background: #007e91;
  background-repeat: no-repeat;
  background-origin: content-box;
  width: 100%;
  height: 200px;
  transition: height @affix-transition;
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.55);
}