extends ./layout.jade



block header
  header(data-spy="affix"  data-offset-top="40" class="affix-top")
    .background
      div
    .content
      nav
        ul
          li
            a(href="#O mě") 
              span(data-title="O mě") O mě
          li
            a(href="#Chystané akce") 
              span(data-title="Chystané akce") Chystané akce
          li
            a(href="#Galerie") 
              span(data-title="Galerie") Galerie
          li
            a(href="#Kniha") 
              span(data-title="Kniha") Kniha
          li
            a(href="#Články") 
              span(data-title="Články") Články
          li
            a(href="#Blog") 
              span(data-title="Blog") Blog
          li
            a(href="#Kontakt") 
              span(data-title="Kontakt") Kontakt
      button.nav-toggle
        span.glyphicon.glyphicon-align-justify

      h1
        span Kateřina Mandulová
      p
        | Potrefená holka, Náruživá cestovatelka a Fotografka
      .portrait
        img(src='/img/portrait.jpg')
  .headspacer


block content
  h2 1Ahoj
  p Hello
  h2 2Ahoj
  p Hello
  h2 3Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello
  h2 Ahoj
  p Hello


block scripts
  script(type="text/javascript" src="/modules/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="/modules/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript" src="/js/index.js")
