extends ./layout.jade

block head
  include ./includes/head.jade

block header
  header(data-spy="affix"  data-offset-top="40" class="affix-top")
    .background
      div
    .content
      nav
        ul
          li
            a(href="#O-mne")
              span(data-title="O mně") O mně
          li
            a(href="#Kniha")
              span(data-title="Kniha") Kniha
          li
            a(href="#Galerie")
              span(data-title="Galerie") Galerie
          li
            a(href="#Chystane-akce")
              span(data-title="Chystané akce") Chystané akce
          li
            a(href="#Clanky")
              span(data-title="Články") Články
          li
            a(href="#Blog")
              span(data-title="Blog") Blog
          li
            a(href="#Kontakt")
              span(data-title="Kontakt") Kontakt
      button.nav-toggle
        span.glyphicon.glyphicon-align-justify

      h1
        span Kateřina Mandulová
      p
        | Cestovatelka a Fotografka
      .portrait
        img(src='/img/portrait.jpg')
  .headspacer


block content
  // About me section
  section.row#O-mne
    .container
      .row
        h2 O mně
      .row
        
        .col-md-4
          p Jsem horalka a nezávislá cestovatelka. Na cestách po světě jsem strávila více než tři roky života. Lezla jsem na vysoké hory v Tian Shanu, na Pamíru, v Cordillerách, ve východním Tibetu. Stopem jsem procestovala Sibiř a Dálný východ, americký divoký západ, jihoamerické Altiplano i poušť Atakama, tibetskou náhorní plošinu, pákistánský Karakoram, kazašskou step i gruzínsko-turecké pohraničí. Často křižuji Evropu, proto i Vás si někdy možná stopnu na evropských dálnicích.
          img(src="/img/katka.jpg" class="img-responsive")
        .col-md-8#travelcv
          p <strong>Cestovatelské Curriculum Vitae</strong>
          ul
            li 1997 <i>Cesta na koloběžce z Valašska do Slovenského ráje</i>
            li 2000 <i>USA – stopem po americkém Západě</i>
            li 2001 <i>Pakistán – první cesta na Východ po zemi stopem přes Turecko, Irán, Pakistán</i>
            li 2002 <i>Jižní Amerika – první samostatná výprava do hor Peru, Bolívie a Ekvádoru</i>
            li 2003 - 2004 <i>Asie – druhá cesta po zemi do Asie přes Rusko, Střední Asii, pak dále stopem přes Tibet, Nepál, Indii, Pakistán, Irán a Turecko</i>
            li 2006 <i>Indie  –  cesta po zamrzlé řece Zanskar v Ladaku (Chadar)</i>
            li 2008 <i>Gruzie - stopem v zemi ve válečném stavu</i>
            li 2009 <i>Rusko a Čína - stopem z Třebíče do Vladivostoku a horolezecká expedice ve východním Tibetu na Lamo She</i>
            li 2010 <i>Indie - cesta k prameni řeky Gangy a Jamuny</i>
            li 2011 <i>Kazachstán - výstup na Chan Tengri</i>
            li 2012 <i>Pákistán - přechod ledovce Biafo Hispar v Karakoramu</i>
            li 2013 <i>Chile, Argentina - výstup na Aconcaguu</i>
            li 2014 <i>Tadžikistán - expedice na Pik Korženěvská</i>

  //- Book Section
  section.row#Kniha
    .container
      .row
        .col-md-4
          .clickme-book
            span Tohle je moje knížka
            img(src="/img/arrow.svg")
        .col-xs-12.col-md-4#book-div
          .book-container
            .bk-book.book-1.bk-bookdefault
              .bk-front
                .bk-cover
                .bk-cover-back
              .bk-back
              .bk-right
              .bk-left
                h2
                  span Kateřina Mandulová
                  span Vladivostop
              .bk-top
              .bk-bottom
      


  //- Gallery section
  section.row#Galerie
    h2 Galerie
    .owl-carousel#gallery-carousel
      .item
        img(class="lazyOwl" data-src="/img/events/2003_Tibet.jpg")
        .img-description
          h3 Tibet
          p 2003
      .item
        img(class="lazyOwl" data-src="/img/events/2006_Cadar.jpg")
        .img-description
          h3 Cadar
          p 2006
      .item
        img(class="lazyOwl" data-src="/img/events/2008_Gruzie.jpg")
        .img-description
          h3 Gruzie
          p 2008
      .item
        img(class="lazyOwl" data-src="/img/events/2009_Cina.jpg")
        .img-description
          h3 Cina
          p 2009
      .item
        img(class="lazyOwl" data-src="/img/events/2009_Lamo_Sche.jpg")
        .img-description
          h3 Lamo Sche
          p 2009
      .item
        img(class="lazyOwl" data-src="/img/events/2009_Sibir.jpg")
        .img-description
          h3 Sibir
          p 2009
      .item
        img(class="lazyOwl" data-src="/img/events/2009_Tibet.jpg")
        .img-description
          h3 Tibet
          p 2009
      .item
        img(class="lazyOwl" data-src="/img/events/2010_Gharwal.jpg")
        .img-description
          h3 Gharwal
          p 2010
      .item
        img(class="lazyOwl" data-src="/img/events/2011_Chan_Tengri.jpg")
        .img-description
          h3 Chan Tengri
          p 2011
      .item
        img(class="lazyOwl" data-src="/img/events/2012_Pakistan.jpg")
        .img-description
          h3 Pakistan
          p 2012
      .item
        img(class="lazyOwl" data-src="/img/events/2013_Aconcagua.jpg")
        .img-description
          h3 Aconcagua
          p 2013
      .item
        img(class="lazyOwl" data-src="/img/events/2013_Chile.jpg")
        .img-description
          h3 Chile
          p 2013
      .item
        img(class="lazyOwl" data-src="/img/events/2013_Spiti_Kinnaur.jpg")
        .img-description
          h3 Spiti Kinnaur
          p 2013
      .item
        img(class="lazyOwl" data-src="/img/events/2014_Tajikistan.jpg")
        .img-description
          h3 Tajikistan
          p 2014
      .item
        img(class="lazyOwl" data-src="/img/events/Rumunsko.jpg")
        .img-description
          h3 Rumunsko
          p 2014

  //- Future events section
  section.row#Chystane-akce
    .container
      .row
        h2 Chystané akce
      .row
        .coming-up.col-md-8.col-md-offset-2.table-responsive
          p.blank
           | Prozatím nic
      .row
        .col-md-12
          img(src="/img/HOROVANI_2015_plakat_red.jpg")

  //- Articles Section
  section.row#Clanky
    .container
      .row
        h2 Články
    .article-belt
      .thumb-wrap
        .container.articles
      .article-wrap
        .container
          button(type="button" class="btn btn-default btn-md article-back-btn")
            span.glyphicon.glyphicon-arrow-left(aria-hidden="true") Zpátky
          .row
            .col-xs-12.article-open.loading
              .loader-inner.line-scale.article-loader
                div
                div
                div
                div
                div

  //- Blog Section
  section.row#Blog
    .container
      .row
        h2 Blog
      .row
        p Under Construction

  //- Contact Section
  section.row#Kontakt
    .container
      .row
        h2 Kontakt
      .row
        .col-md-8.col-md-offset-2
          form#contact-form(method="POST" action="//formspree.io/")
            input(type="text" name="name" value="Jméno:")
            input(type="email" name="_replyto" value="Email:")
            textarea Zpráva:
            input(type="text" name="_gotcha" style="display:none")
            button(type="submit") Odeslat


block scripts
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js")
  //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.0/papaparse.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js")
  script(type="text/javascript" src="/js/index.min.js")


block footer
  include ./includes/footer.jade
