html
  head
    link(type="text/css" rel="stylesheet" href='/modules/normalize.css/normalize.css')
    link(type="text/css" rel="stylesheet" href='/css/index.min.css')
    link(type="text/css" rel="stylesheet" href='/modules/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      nav(data-spy="affix"  data-offset-top="60")
        ul
          li 
            a O mě
          li 
            a Já
          li
            a Other
      
      h1 
        span Kateřina Mandulová
      p
        | Potrefená holka, Náruživá cestovatelka a Fotografka
      
      .portrait
        
        img(src='/img/portrait.jpg')
        div
    
    .container
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
      h2 Ahoj
    
    script(type="text/javascript" src="/modules/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/modules/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/index.min.js")
