extends ./layout.jade



block header
  header(data-spy="affix"  data-offset-top="40" class="affix-top")
    .background
      div
    .content
      nav
        ul
          li
            a(href="#O-me") 
              span(data-title="O mě") O mě
          li
            a(href="#Kniha") 
              span(data-title="Kniha") Kniha
          li
            a(href="#Galerie") 
              span(data-title="Galerie") Galerie
          li
            a(href="#Chystane-akce") 
              span(data-title="Chystané akce") Chystané akce
          li
            a(href="#Clanky") 
              span(data-title="Články") Články
          li
            a(href="#Blog") 
              span(data-title="Blog") Blog
          li
            a(href="#Kontakt") 
              span(data-title="Kontakt") Kontakt
      button.nav-toggle
        span.glyphicon.glyphicon-align-justify

      h1
        span Kateřina Mandulová
      p
        | Cestovatelka a Fotografka
      .portrait
        img(src='/img/portrait.jpg')
  .headspacer


block content
  .row#O-me
    h2 O mě
    p <strong>Kateřina Mandulová:</strong> právnička a nezávislá cestovatelka. Na cestách ztrávila více než tři roky života. Stopem procestovala Sibiř a Dálný východ, americký divoký západ, jihoamerické Altiplano i poušť Atakama, tibetskou náhorní plošinu, pákistánský Karakoram, kazašskou step i gruzinsko-turecké pohraničí. Často křižuje Evropu, proto i Vás si někdy může stopnout na evopských dálnicích.
  .row#Kniha
    h2 Kniha
    p Non adipisicing ullamco veniam officia labore ad. Cillum dolor qui do ut cupidatat culpa minim fugiat dolore exercitation occaecat aliqua culpa. Ullamco id excepteur dolore dolor id deserunt Lorem aliqua veniam cupidatat cupidatat adipisicing dolor ullamco. Lorem anim do amet labore minim nisi anim non deserunt dolor labore velit ad ad. Ea magna dolore eu aliqua fugiat.
  .row#Galerie
    h2 Galerie
    .owl-carousel#galery-carousel
      div adsf
      div asdf
      div adsf
      div adsf 
      div adsf
      div adsf
  .row#Chystane-akce
    h2 Chystané akce
    p Qui exercitation ipsum culpa commodo velit adipisicing sint labore ex et. Culpa dolor enim laborum non nisi nisi consequat proident veniam ea cillum nostrud. Nostrud ad laboris reprehenderit ad tempor. Est qui do laboris aute velit. Reprehenderit eu exercitation ullamco proident sit. Mollit cillum duis aliquip nulla amet exercitation duis eu officia et commodo sint adipisicing. Laborum officia ipsum exercitation mollit quis dolor proident mollit culpa culpa elit ex. Quis amet minim consequat velit ex et labore excepteur amet amet ad. Duis id elit nulla in nisi pariatur ad mollit non et cupidatat excepteur sint occaecat.
  .row#Clanky
    h2 Články
    p Duis laboris Lorem do velit quis officia non quis magna officia ipsum commodo ullamco. Elit aute non sit do deserunt magna magna laboris. Adipisicing laborum ipsum ullamco pariatur ea et consectetur officia. Adipisicing aliquip incididunt ad ad id tempor ipsum duis Lorem exercitation ullamco nostrud. Quis aute est anim commodo ad fugiat laborum laborum ut anim et. Reprehenderit deserunt occaecat ea duis pariatur sunt veniam aliqua ex consectetur nisi eiusmod. Veniam velit aute dolor elit magna cillum sit qui Lorem eu amet aliquip ipsum labore. Sint sit do deserunt minim ea est mollit quis.
  .row#Blog
    h2 Blog
    p Mollit non laboris laboris veniam eiusmod sit tempor non elit consectetur ad ea. Nisi in cupidatat incididunt adipisicing irure sint adipisicing enim est. Cupidatat irure amet laboris et ipsum consequat proident consequat consequat deserunt ipsum occaecat do aliqua. Nulla cupidatat voluptate in reprehenderit nostrud est consequat tempor irure ea aute. Veniam laboris aute non ullamco commodo voluptate culpa anim. Commodo aliqua magna sint esse reprehenderit enim irure.
  .row#Kontakt
    h2 Kontakt
    p Eu labore incididunt in laborum nostrud nostrud fugiat nisi. Aliqua id ipsum ut ex consectetur aute ullamco culpa. Laboris anim enim minim anim eu minim dolore. Eiusmod Lorem sunt tempor velit voluptate. Et reprehenderit tempor dolor excepteur amet nulla labore proident mollit proident fugiat excepteur. Cillum qui commodo exercitation et reprehenderit enim irure sit excepteur. Adipisicing elit duis eu sit consequat. Sunt dolor est eu ullamco culpa dolore aliquip veniam sint sint culpa. Sunt ex officia culpa ea labore.



block scripts
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js")
  script(type="text/javascript" src="/js/index.js")
