//- Basic layout of any document

doctype html

html
  head
    meta(charset="UTF-8")
    //- Always normalize the browser
    link(type="text/css" rel="stylesheet" href='/modules/normalize.css/normalize.css')
    //- Always include bootstrap
    link(type="text/css" rel="stylesheet" href='/modules/bootstrap/dist/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block head
      include ./includes/head.jade
  body
    block header
    
    .container
      block content
    
    footer
      block footer
        include ./includes/footer.jade
    
    block scripts
      
    
